<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre</title>
    <meta name="viewport" content="width=device-width">
    <script src="https://kit.fontawesome.com/5ca03c839c.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/home.css">

</head>

<body>

    <header class="header-de-pagina">

        <div class="div-top">
            <div class="div-logo">
                <a href="/home"><img class="logo" src="img/logo-mercado-liebre.svg" alt="logo Mercadoliebre"></a>
            </div>

            <div class="div-barra-busqueda">
                <div class="input-box">
                    <input type="search" placeholder="Buscar producto, marca">
                    <a href="https://www.google.com.ar/" target="_blank">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </a>
                </div>
            </div>

            <div class="div-texto"><p><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</p></div>
        </div>

        <nav class="navbar">
            <ul class="ul-navbar-izq">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
    
            <ul class="ul-navbar-der">
                <li><a href="/register">Creá tu cuenta <i class="fa-regular fa-id-card"></i></li></a>
                <li><a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></li></a>
                <li><a href="#">Mis compras <i class="fa-solid fa-cart-shopping"></i></li></a>
            </ul>
        </nav>

        <a href="#" class="menu-hamburguesa">
            <i class="fa-solid fa-bars"></i>
        </a>

        <div class="div-banner">
            <img class="banner" src="img/img-home-banner.jpg" alt="home banner">
        </div>

    </header>

    <main>

        <div class="div-main">
            
            <h3>Basado en tu última visita</h3>
            <section class="main-section">
                <article class="articulo">
                    <img class="imagen-articulo" src="img/img-cafetera-moulinex.jpg" alt="imagen de la cafetera">
                    <div class="datos-articulo">
                        <p class="p-de-envio"><i class="fa-solid fa-truck-fast"></i></p>
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% off</p>
                        <p class="descripcion">Cafetera Moulinex</p>
                    </div>
                </article>

                <article class="articulo">
                    <img class="imagen-articulo" src="img/img-macbook-pro-2019.jpg" alt="imagen de MacBook">
                    <div class="datos-articulo">
                        <p class="p-de-envio"><i class="fa-solid fa-truck-fast"></i></p>
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% off</p>
                        <p class="descripcion">MacBook Pro 2019</p>
                    </div>
                </article>

                <article class="articulo">
                    <img class="imagen-articulo" src="img/img-samsung-galaxy-s10.jpg" alt="imagen Samsung">
                    <div class="datos-articulo">
                        <p class="p-de-envio"><i class="fa-solid fa-truck-fast"></i></p>
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% off</p>
                        <p class="descripcion">Samsung Galaxy S10</p>
                    </div>
                </article>

                <article class="articulo">
                    <img class="imagen-articulo" src="img/img-tv-samsung-smart.jpg" alt="imagen SmarTv">
                    <div class="datos-articulo">
                        <p class="p-de-envio"><i class="fa-solid fa-truck-fast"></i></p>
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% off</p>
                        <p class="descripcion">SmartTv Samsung 43"</p>
                    </div>
                </article>

            <!-- <footer>
                <a href="#"><h4>ver todos los productos</h4></a>
            </footer> -->
            </section>

            <h3>Ofertas destacadas</h3>
            <section class="main-section">
                <article class="articulo">
                    <img class="imagen-articulo" src="img/img-cafetera-moulinex.jpg" alt="imagen de la cafetera">
                    <div class="datos-articulo">
                        <p class="p-de-envio"><i class="fa-solid fa-truck-fast"></i></p>
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% off</p>
                        <p class="descripcion">Cafetera Moulinex</p>
                    </div>
                </article>

                <article class="articulo">
                    <img class="imagen-articulo" src="img/img-macbook-pro-2019.jpg" alt="imagen de MacBook">
                    <div class="datos-articulo">
                        <p class="p-de-envio"><i class="fa-solid fa-truck-fast"></i></p>
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% off</p>
                        <p class="descripcion">MacBook Pro 2019</p>
                    </div>
                </article>

                <article class="articulo">
                    <img class="imagen-articulo" src="img/img-samsung-galaxy-s10.jpg" alt="imagen Samsung">
                    <div class="datos-articulo">
                        <p class="p-de-envio"><i class="fa-solid fa-truck-fast"></i></p>
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% off</p>
                        <p class="descripcion">Samsung Galaxy S10</p>
                    </div>
                </article>

                <article class="articulo">
                    <img class="imagen-articulo" src="img/img-tv-samsung-smart.jpg" alt="imagen SmarTv">
                    <div class="datos-articulo">
                        <p class="p-de-envio"><i class="fa-solid fa-truck-fast"></i></p>
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% off</p>
                        <p class="descripcion">SmartTv Samsung 43"</p>
                    </div>
                </article>

            <!-- <footer>
                <a href="#"><h4>ver todas las ofertas</h4></a>
            </footer> -->
            </section>
            
        </div>

    </main>

    <footer>
        <section>
            <p class="icon-footer"><i class="fa-solid fa-credit-card"></i></p>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p class="texto-footer">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>

        <section>
            <p class="icon-footer"><i class="fa-solid fa-gift"></i></p>
            <h4>Envío gratis desde $ 2.500</h4>
            <p class="texto-footer">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>

        <section>
            <p class="icon-footer"><i class="fa-solid fa-user-shield"></i></p>
            <h4>Seguridad, de principio a fin</h4>
            <p class="texto-footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegido.</p> 
        </section>
        
        <p class="derechos">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>


</body>
</html>

<!-- alt + shift + a para comentar  --> 


